Email.json
{
  "name": "Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -272
      ],
      "id": "8cc3eaf8-149c-4786-b597-66832d16114a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "zxDesJ2sFSGnOQBd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support ",
              "description": "An email that is related to helping out a customer, They may be asking questions about our policies or questions about our products or services."
            },
            {
              "category": "other",
              "description": "Any email that is not customer support related."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -16,
        -272
      ],
      "id": "29ddf525-c583-4adc-a72b-0302793404a4",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -96,
        -64
      ],
      "id": "13f53a78-bf35-4e50-a6b7-6496a5742dff",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "cbddTVYlTbgZ0VV4",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        160,
        -48
      ],
      "id": "b194e168-b80d-4f65-8845-dd92ae77e285",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a customer support agent for Tech Haven. Your job is to respond to incoming emails with relevant information using your knowledgeBase tool.\n\n## Instructions\n- Your output should be friendly and use emojis\n- sign off as Mr. Helpful from  Tech Haven Solutions\n\n# Output \n- output only the body content of the email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        384,
        -288
      ],
      "id": "6f8dd725-cc6c-498f-8566-8dc9e725ba92",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        -80
      ],
      "id": "818dce5d-50c1-4b07-aa74-108246b7ba26",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AM3CclxJpx5ISAbs",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access Policy and FAQ Information.",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag",
          "mode": "list",
          "cachedResultName": "rag"
        },
        "options": {
          "pineconeNamespace": "rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        -64
      ],
      "id": "08511919-c446-4dc7-89fb-c93f725ae3b9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "jQyje3bezbqNVaTy",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        96
      ],
      "id": "d82d81cc-d6bb-4228-bd70-a1a79352d69b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "AM3CclxJpx5ISAbs",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        -272
      ],
      "id": "d89fec15-c961-424b-babc-b2fdc2a3c516",
      "name": "Reply to a message",
      "webhookId": "c0f4ec58-e88f-4000-9d50-98f69c93cd1b",
      "credentials": {
        "gmailOAuth2": {
          "id": "zxDesJ2sFSGnOQBd",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "1982e2e509de81f6",
          "threadId": "1982e2e509de81f6",
          "snippet": "What is the privacy policy? I am concerned about my data and my passwords!!! Thank you",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 5772,
          "historyId": "1004083",
          "internalDate": "1753121431000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Muhammad Islam <islammirza684@gmail.com>",
          "Subject": "Question",
          "To": "i220603 Ahmad Islam <i220603@nu.edu.pk>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "653f0388-61c9-40a4-8d4e-8a7296cdca8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa91e9fc997f4c893866787903c8fbfbc38003f89b6d99026a1dcd79832e823e"
  },
  "id": "q1kxht4xSlIk1dZ9",
  "tags": []
}